/* ----------------------------------------------------------------
	Overwrite
-----------------------------------------------------------------*/
.breadcrumb > .active {
    color: #aaa;
}
.progress{margin:0;}
/* ----------------------------------------------------------------
	Background
-----------------------------------------------------------------*/
#page-title{
	background: url('/assets/images/asanoha-400px.png');
}

/* ----------------------------------------------------------------
	Pencarian
-----------------------------------------------------------------*/

.filter-section{
	    width: 100%;
	    display: inline-block;
	    padding: 15px 20px 15px 20px;
	    height: 75px;
}
.result-filter{
		background-color: #F5F5F5;
	    display: inline-block;
	    padding: 10px;
}
.separator{
		clear: both;
	    position: relative;
	    width: 100%;
	    border-top: 1px solid #EEE;
}
select {
		background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
		background-color:transparent;
		background-repeat:no-repeat;
		background-position: right 10px top 10px;
		background-size: 10px 10px;
		color: #565a5c !important;
    	padding: 5px 40px 5px 10px;
		max-width: 80%;
		text-align:center;
		text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
		border-radius:0px;
		-webkit-border-radius:0px;
		-webkit-appearance: none;
		border:1px solid #565a5c;
		outline:0;
		-webkit-transition:0.3s ease all;
		   -moz-transition:0.3s ease all;
		    -ms-transition:0.3s ease all;
		     -o-transition:0.3s ease all;
		        transition:0.3s ease all;
}

.transparent-grey {
		border:1px solid #565a5c;
}

.transparent-grey:hover {
		background-color:transparent;
}

select:focus, select:active {
		border:1px solid #565a5c;
		outline:0;
}

/* ----------------------------------------------------------------
	margin
-----------------------------------------------------------------*/
.padding-top-5{
		padding-top: 5px;
}
.margin-top-15{
		margin-top: 15px;
}
.margin-top-35{
		margin-top: 35px;
}
.margin-bottom-15{
		margin-bottom: 15px;
}

/* ----------------------------------------------------------------
	text color
-----------------------------------------------------------------*/
.text-color-red {
    color: #FF6065;
}

/* ----------------------------------------------------------------
	Box
-----------------------------------------------------------------*/
.author-box{
		padding: 10px;
	    border: 1px solid #cccccc;
	    margin-bottom: 15px;
	    border-radius: 10px;
	    -webkit-border-radius: 10px;
	    -moz-border-radius: 10px;
}
.box-map{
		overflow: hidden;
	    height: 400px;
	    width: 100%;
	    border: 1px dashed grey;
	    padding: 0;
}

/* ----------------------------------------------------------------
	Separator
-----------------------------------------------------------------*/
.separator-right{
	    border-right: 1px dashed #cccccc;

}

/* ----------------------------------------------------------------
	custom 
-----------------------------------------------------------------*/
.center-register{
	margin: auto;
    width: 75%;
    border: 1px solid #0C4C80;
    padding: 10px;
}