/* here you can put your own css to customize and override the theme */
/*.page-content{
	background-color: #eef1f5;
}*/
.form-group{margin-bottom: 5px !important;}
.mt-step-title{font-size: 27px !important;}
table.dataTable>tbody>tr.child {
	float: left !important;
}
table.dataTable>tbody>tr.child ul.dtr-details{
	text-align: left !important;
}

.note ol > li{
	line-height: 25px;
	font-family: Arial, Helvetica, sans-serif;
}